<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" sizes="16x16" rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Ivanna San Valentin</title>
</head>
<body>
    <div class="music-player" id="music-player">
        <p>Love Like You</p>
        <button id="play-pause-btn">⏸️ Pausar</button>
        <input type="range" id="volume-control" min="0" max="1" step="0.1" value="0.5">
    </div>

    <div class="container">
        <h1>¡Invitación Especial!</h1>
        <p>Ahora somos San Valentines o lo que signifique eso amor</p>
        <p>Te espero hoy a las 8:00 PM en Minecraft gei a ver si acabo de abrirte el hueco</p>
        <p>¡No faltes UWU MIAU NYA~~~!</p>
        <img src="../img/index.png" alt="Imagen de San Valentín" style="width: 150px; height: auto; margin-top: 20px;">



    </div>
    <a href="../index.html" class="btn return">⬅️ Regresar</a>
    <audio id="background-music" loop autoplay>
        <source src="../css/loveLikeYou.mp3" type="audio/mpeg">
        Tu navegador no soporta la reproducción de audio.
    </audio>
    <script src="../js/javascript.js"></script>
</body>
</html>